@page
@model Web_FoodBasket.Pages.Bas.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Basket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket.ContactNo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.ContactNo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Basket.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Basket.Address)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Basket.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
